.netError
  position fixed
  top 0
  z-index 9999999
  width 100%
  height 100%
  background-color #FFF
  .wifi-logo
    width 86.3px
    height 68.89px
    background-size 86.3px 68.89px
    background-repeat no-repeat
    background-image url(../../../../public/wifi.png)
    margin 128px auto 0 auto
  .wifi-text
    width 250px
    font-size 18px
    color rgba(43, 44, 57, .5)
    margin 61px auto
