/*--------------------------------------------------------------------------------
    移动端 - 通用样式
--------------------------------------------------------------------------------*/
*{
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(255,255,255,0);
}
body,html{
    width: 100%;
    height: 100%;
    background: rgb(246,246,246);
}
.clear-fix:after {
    content: '\20';
    display: block;
    height: 0;
    clear: both;
}

/*--------------------------------------------------------------------------------
    首页
--------------------------------------------------------------------------------*/
.m-index-background{
    background: url(../images/bgBanner@2x.png);
    background-size: 100% 100%;
    width: 100%;
    height: 250px;
    display: inline-block;
}
.m-index-logo{
    background: url(../images/logoVoiceIn@2x.png);
    background-size: 100% 100%;
    width:32.08%;
    height:  25px;
    margin: 0 auto;
    margin-top: 50px;
}
#index-subscribe{
    font-size: 18px;
    line-height: 18px;
    text-shadow:0 0 2px rgba(0,0,0,0.50);
    color: rgb(255,255,255);
    margin: 0 auto;
    height: 23px;
    margin-top: 16px;
    display: -webkit-box;
    -webkit-box-orient: horizontal;
    -webkit-box-pack: center;
    -webkit-box-align: center;
    display: -moz-box;
    -moz-box-orient: horizontal;
    -moz-box-pack: center;
    -moz-box-align: center;
}
.m-index-searchbar{
    height: 32px;
    width: 80%;
    border-radius: 4px;
    background: #fff;
    text-shadow:0,0,4,rgb(153,153,153);
    margin: 0 auto;
    position: relative;
    margin-top: 36px;
 }
#index-input-url{
    height: 32px;
    width: 73.6666666666667%;
    font-size: 14px;
    border: none;
    outline: none;
    color: rgb(51,51,51);
    float: left;
    text-indent: 13px;
    border-radius: 8px;
}
#index-search-submit{
    background: url(../images/btnSearchNor@2x.png) no-repeat;
    background-size: 100% 100%;
    border: none;
    outline: none;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    height: 32px;
    width: 64px;
    float: right;
}
.index_movie_select{
    height: 37px;
    width: 100%;
    border-bottom: 1px solid rgb(224,224,224);
    background: #fff;
    z-index: 10;
}
.nav_fixed{
    position:fixed;
    top:0;
}
.index_movie_nav{
    height: 37px;
    width: 89.33333333333%;
    margin:0 auto;
    font-size: 13px;
    color: rgb(153,153,153);
    text-align: center;
}
.index_movie_nav p{
    height: 37px;
    line-height: 37px;
    width: 25%;
    float: left;
}
.index_movie_nav .selected_nav{
    border-bottom: 3px solid rgb(246,24,82);
    color: rgb(51,51,51);
}
.index_selected_box{
    width: 100%;
}
.index_selected_box .index_selected_show,
.index_selected_box .short_film_selected_show{
    width: 92%;
    margin: 0 auto;
    position: relative;
}
.index_selected_box .index_selected_show figure,
.index_selected_box .short_film_selected_show figure{
    position: relative;
    width: 100%;
    margin:0;
    margin-top: 15px;
    border-bottom: 1px solid rgb(230,230,230);
}
.index_selected_box .index_selected_show figure{
    height: 155px;
}
.index_selected_box .short_film_selected_show figure{
    height: 115px;
}
/**
 * 电影美剧样式
 */
.index_selected_box .index_selected_show figure img{
    height: 140px;
    width: 28.9855%;
}
.index_selected_box .index_selected_show figure .movie_key,
.index_selected_box .index_selected_show figure .hidden_id,
.index_selected_box .short_film_selected_show figure .movie_key,
.index_selected_box .short_film_selected_show figure .hidden_id{
    display: none;
}
.index_selected_box .index_selected_show figure figcaption,
.index_selected_box .index_selected_show figure .search_desc{
    position: absolute;
    left: 31.884%;
}
.index_selected_box .index_selected_show figure figcaption,
.index_selected_box .short_film_selected_show figure figcaption{
    top:5px;
    height: 15px;
    font-size: 15px;
    line-height: 15px;
    color: rgb(51,51,51);
    letter-spacing: 0.5px;
}
.index_selected_box .index_selected_show figure .search_desc,
.index_selected_box .short_film_selected_show figure .search_desc{
    height: 60px;
    font-size: 12px;
    line-height: 15px;
    color: rgb(204,204,204);
    display: inline-block;
    top:50px;
}
/**
 * 短片样式
 */
.index_selected_box .short_film_selected_show figure img{
    height: 100px;
    width: 43.47826086%;
}
.index_selected_box .short_film_selected_show figure figcaption,
.index_selected_box .short_film_selected_show figure .search_desc{
    position: absolute;
    left: 46.37681159%;
}
.index_selected_box .short_film_selected_show figure .short_film_time{
    position: absolute;
    font-size: 10px;
    line-height: 10px;
    color: #fff;
    top:88px;
    left: 33.5%;
}


/**
 * loading动画
 */
@-webkit-keyframes rotate{
    from{-webkit-transform:rotate(0deg)}
    to{-webkit-transform:rotate(360deg)}
}
@-moz-keyframes rotate{
    from{-moz-transform:rotate(0deg)}
    to{-moz-transform:rotate(360deg)}
}
@-ms-keyframes rotate{
    from{-ms-transform:rotate(0deg)}
    to{-ms-transform:rotate(360deg)}
}
@-o-keyframes rotate{
    from{-o-transform:rotate(0deg)}
    to{-o-transform:rotate(360deg)}
}
#uploadMore_box{
    display: none;
    height: 44px;
    width: 44px;
    margin:30px auto;
}
#uploadMore{
    display: block;
}
#uploadMore,#load_spacing_interval{
    height: 44px;
    width: 44px;
    background: url(../images/loading@2x.png) no-repeat;
    background-size: 100% 100%;
    animation: 1s linear 0s normal none infinite rotate;
    -webkit-animation:1s linear 0s normal none infinite rotate;
}
#noSomeThing{
    display: none;
    height: 30px;
    line-height: 30px;
    margin:20px 0;
    width: 100%;
    font-size: 16px;
    color: #999;
    text-align: center;
}
#load_spacing_interval{
    display: none;
    margin: 30px auto;
}




/*--------------------------------------------------------------------------------
    列表页
--------------------------------------------------------------------------------*/
.search_header{
    height: 54px;
    width: 100%;
    background: rgb(255,255,255);
    text-shadow:0 1px 2px rgba(0,0,0,0.10);
    position: relative;
    border-bottom:1px solid rgb(204,204,204);
}
.search_header img{
    height: 20px;
    width:24.8%;
    float: left;
    margin-left: 4%;
    margin-top: 16px;
}
.search_header .search_header_search{
    height: 32px;
    width: 64%;
    float: left;
    margin-left: 4.5333%;
    margin-top: 10px;
    border-radius: 4px;
    opacity: 0.6;
    background: rgb(240,239,245);
    border:1px solid rgb(224,224,224);
}
.search_header .search_header_search input{
    height: 32px;
    width: 89%;
    float: left;
    border:none;
    outline: none;
    text-indent: 2.4%;
    opacity: 0.6;
    background: rgb(240,239,245);
    font-size: 12px;
    color: #333;
}
.search_header .demoSpan1{
    height:20px;
    width:20px;
    dissearch:block;
    position:absolute;
    right: 3.75%;
    top:17px;
    cursor: pointer;
    z-index: 2;
}
.search_header .demoSpan1:before,
.search_header .demoSpan1:after{
    content:'';
    height:11px;
    dissearch:block;
    position:absolute;
    top:0;
    left:0px;
}
.search_header .demoSpan1:before{
    width:11px;
    border:2px #333 solid;
    border-radius:100%;
    -webkit-border-radius:100%;
    -moz-border-radius:100%;
}
.search_header .demoSpan1:after{
    width:3px;
    background:#333;
    transform:rotate(-45deg);
    -webkit-transform:rotate(-45deg);
    -moz-transform:rotate(-45deg);
    -o-transform:rotate(-45deg);
    -ms-transform:rotate(-45deg);
    top:11px;
    left:15px;
}
.search_content {
    width: 100%;
}
#search_main{
    width: 92%;
    /*border:1px solid red;*/
    margin:0 auto;
    position: relative;
}
#search_main figure{
    position: relative;
    width: 100%;
    height: 154px;
    margin:0;
    margin-top: 15px;
    border-bottom: 1px solid rgb(230,230,230);
}
#search_main figure .images,
.video_info figure .video_img{
    height: 140px;
    width: 28.9855%;
    /*border:1px solid red;*/
}
#search_main figure figcaption,
#search_main figure .search_update,
#search_main figure .search_desc,
.video_info figure figcaption,
.video_info figure .search_update{
    position: absolute;
    left: 31.884%;
}

#search_main figure figcaption,
.video_info figure figcaption{
    top:5px;
    height: 15px;
    font-size: 15px;
    line-height: 15px;
    color: rgb(51,51,51);
    letter-spacing: 0.5px;
}
#search_main figure .search_update,
.video_info figure .search_update{
    height: 12px;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 0.4px;
    color: rgb(153,153,153);
    top: 35px;
}
#search_main figure a,
.video_info figure a{
    margin-left: 10px;
    text-decoration: none;
    color: rgb(74,114,226);
}
#search_main figure .search_desc{
    height: 60px;
    width: 68.11594%;
    font-size: 12px;
    line-height: 15px;
    color: rgb(204,204,204);
    display: inline-block;
    top:67px;
}
#iconNoData{
    display: none;
    height: 80px;
    width: 18.9333333%;
    margin: 0 auto;
    margin-top: 100px;
}
#noFindSomeThing{
    height: 15px;
    width: 100%;
    font-size: 15px;
    color: rgb(204,204,204);
    text-align: center;
    margin-top: 20px;
    display: none;
}

/*--------------------------------------------------------------------------------
    详细信息显示页
--------------------------------------------------------------------------------*/
.play_main{
    width: 92%;
    margin: 0 auto;
}
#transpond_cover_box{
    display: none;
}
.video_info{
    width: 92%;
    margin:0 auto;
    /*border:1px solid red;*/
}
.video_info figure{
    height: 140px;
    width: 100%;
    margin:0;
    padding:0;
    position: relative;
    margin-top: 15px;
}
.video_info figure .play_clip{
    height: 12px;
    width: 14.49275%;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 0.4px;
    color: rgb(153,153,153);
    position: absolute;
    top: 52px;
    left: 31.884%;
}
.video_info figure .play_clip_info{
    height: 16px;
    width: 16%;
    position: absolute;
    top: 50px;
    left: 46.3768%;
}
.video_info figure .clip_logo{
    height: 16px;
    width: 16px;
}
.video_info figure .clip_name{
    font-size: 12px;
    height: 12px;
    width: 80%;
    letter-spacing: 0.4px;
    color: rgb(153,153,153);
    line-height: 12px;
    position: absolute;
    left: 19px;
    top: 2px;
}
.video_info figure .pulldown_logo{
    height: 6px;
    width: 3.47826%;
    position: absolute;
    top: 57px;
    left: 66%;
}
.video_info figure .no_parse{
    height: 12px;
    /*width: 84px;*/
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 0.4px;
    color: rgb(246,111,127);
    position: absolute;
    top: 52px;
    left: 70%;
}
.video_info figure .click_play{
    height: 32px;
    width: 72px;
    background: url(../images/btnPlayNor@2x.png);
    position: absolute;
    top: 97px;
    left:31.884%;
    background-size: 100% 100%;
}
.video_info figure .hidden_url{
    display: none;
}
.video_info .episode_intro{
    height: 50px;
    width: 100%;
    border-bottom: 1px solid rgb(230,230,230);
}
.video_info .episode_intro .box_one{
    height: 100%;
    width: 50%;
    position: relative;
}
.video_info .episode_intro .box_left{
    float: left;
}
.video_info .episode_intro .box_right{
    float: right;
}
.video_info .episode_intro .info_one{
    height: 21px;
    width: 34.7826%;
    text-align: center;
    position: absolute;
    bottom: 0px;
    font-size: 15px;
    line-height: 15px;
    letter-spacing: 0.5px;
    color: rgb(153,153,153);
}
.video_info .episode_intro .info_left{
    left: 42.25942%;
    border-bottom: 3px solid rgb(244,24,81);
    color: rgb(51,51,51);
}
.video_info .episode_intro .info_right{
    left: 24.057971%;
}
.video_info .episode_intro_show{
    width: 100%;
    margin-top: 12.5px;
}
.video_info .episode_intro_show .episode_main{
    width: 100%;
}
.video_info .episode_intro_show .episode_main .play_episode p{
    height: 50px;
    width: 14.4928%;
    border:1px solid rgb(224,224,224);
    background: rgb(255,255,255);
    float: left;
    margin-bottom: 5px;
    text-align: center;
    line-height: 50px;
    text-decoration: none;
    color: rgb(170,170,170);
    letter-spacing: 0.5px;
    font-size: 15px;
    margin-right: 5px;
    border-radius: 2px;
}
.video_info .episode_intro_show .episode_main .play_episode p .episode_url{
    display: none;
}
.video_info .episode_intro_show .episode_main .play_episode p:first-child{
    border:1px solid rgb(255,132,164);
    color: rgb(255,132,164);
}
.video_info .episode_intro_show .episode_main .play_episode p:active{
    background: rgb(238,238,238);
}
.video_info .episode_intro_show .episode_main .play_variety p{
    height: 50px;
    width: 81.15942%;
    border:1px solid rgb(224,224,224);
    background: #fff;
    border-radius: 2px;
    margin-bottom: 5px;
    display: table;
    padding-left: 5%;
    padding-right: 5%;
}
.video_info .episode_intro_show .episode_main .play_variety p .variety_url,
.video_info .episode_intro_show .episode_main .play_variety p .divisive_type{
    display: none;
}
.video_info .episode_intro_show .episode_main .play_variety p:first-child{
    border:1px solid rgb(255,132,164);
    color: rgb(255,132,164);
}
.video_info .episode_intro_show .episode_main .play_variety p:first-child span{
    color: rgb(255,132,164);
}
.video_info .episode_intro_show .episode_main .play_variety p span{
    font-size: 13px;
    line-height: 13px;
    letter-spacing: 0.4px;
    color: rgb(170,170,170);
    overflow: hidden;
    margin-left: 10%;
    display: table-cell;
    vertical-align: middle;
}
.video_info .episode_intro_show .episode_main .play_variety p:active{
    background: rgb(224,224,224);
}
.video_info .episode_intro_show .intro_main{
    padding-top: 5px;
    font: 15px;
    line-height: 20px;
    color: rgb(125,125,125);
    display: none;
}
.select_platform{
    width: 100%;
    position: fixed;
    z-index: 10;
    bottom: 0;
    background: rgb(246,246,246);
    /*-webkit-transform:translateY(100%);
    -moz-transform:translateY(100%);
    -o-transform:translateY(100%);
    -ms-transform:translateY(100%);
    transform:translateY(100%);*/
    display: none;
}
.select_platform .select_platform_info{
    width: 100%;
    margin-bottom: 8px;
}
.select_platform .select_platform_info .select_platform_one{
    width: 100%;
    height: 44px;
    padding-top: 13px;
    background: #fff;
    border-bottom: 1px solid rgb(246,246,246);
}
.select_platform .select_platform_info .select_platform_one .select_channels{
    display: none;
}
.select_platform .select_platform_info .select_platform_one p{
    height: 18px;
}
.select_platform .select_platform_info .select_platform_one p img{
    margin-left: 21.3333333333%;
    height: 16px;
    width: 16px;
}
.select_platform .select_platform_info .select_platform_one p span{
    height: 18px;
    font-size: 17px;
    line-height: 18px;
    color: rgb(51,51,51);
    margin-left: 10px;
}
.select_platform .select_platform_info .select_platform_one p .tipUpdata{
    color: rgb(153,153,153);
}
.select_platform .cancel_button{
    height: 44px;
    width: 100%;
    background:#fff;
    color: rgb(153,153,153);
    font-size: 17px;
    line-height: 44px;
    text-align: center;
}
#play_shadom{
    background: rgba(0,0,0,0.60);
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    z-index: 2;
    display: none;
}

/**
 * 电影显示样式
 */
.movie_show_style{
    width: 92%;
    margin: 0 auto;
}
.movie_show_style .movie_show_head{
    height: 50px;
    width: 100%;
    border-bottom: 1px solid rgb(230,230,230);
    position: relative;
}
.movie_show_style .movie_show_head p{
    height: 15px;
    width: 100px;
    font-size: 15px;
    line-height: 15px;
    letter-spacing: 0.5px;
    color: rgb(51,51,51);
    position: absolute;
    left: 0;
    bottom: 5px;
}
.movie_show_style .movie_show_desc{
    width: 92%;
    margin: 0 auto;
    margin-top: 15px;

}
/*--------------------------------------------------------------------------------
    播放页
--------------------------------------------------------------------------------*/
#video_box{
    width: 100%;
    height: 100%;
    background: #000;
}
#video_box #video-area{
    width: 100%!important;
}
#video_box #video-area #jp_container_1{
    width: 100%!important;
}















