html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.contains:after{  
   content: "";  
   display: block;  
   height: 0;  
   clear: both;  
   visibility: hidden;   
} 
/************************************************************************
 * 电影速递首页
 *************************************************************************/
.header{
	height: 50px;
	width: 100%;
	background: url(../images/banner.gif) no-repeat;
	background-size: 100% 100%;
}
.contains{
	height: 100%;
	width: 95.7333%;
	position: relative;
	/*border:1px solid red;*/
	margin: 0 auto;
}
.contains .search{
	height: 30px;
	width: 100%;
	border:none;
	outline: none;
	border-radius: 5px;
	border:1px solid rgb(224, 224, 224);
	margin-top: 8px;
	text-align: center;
	font-size: 13px;
	color: rgb(142, 142, 147);
	padding: 0;
}

.contains .wechat{
	height: 15px;
	width: 100%;
	font-size: 13px;
	color: rgb(142, 142, 147);
	margin-top: 8px;
}
.contains .search_button{
	height: 30px;
	width: 40px;
	background: rgb(0, 128, 255);
	border-radius: 4px;
	line-height: 30px;
	font-size: 16px;
	text-align: center;
	color: #fff;
	position: absolute;
	right:-1px;
	top:9px;
	dispaly:inline;

}
.contains .movie_main{
	width: 100%;
	height: 100%;
	margin-top: -4px;
	/*border:1px solid red;*/
}
.contains .movie_main figure,
.movie_recommend .three_movie figure{
	height: 181px;
	width: 31.8435%;
	margin-right: 2.2346%;
	float: left;
	margin-top: 20px;
	cursor: pointer;
}
.contains .movie_main figure:nth-child(3n),
.movie_recommend .three_movie figure:nth-child(3n){
	margin-right: 0;
}
.contains .movie_main figure img,
.movie_recommend .three_movie figure img{
	height: 160px;
	width: 100%;
	cursor: pointer;
}
.contains .movie_main figure figcaption,
.movie_recommend .three_movie figure figcaption{
	width: 100%;
	height: 13px;
	margin-top: 8px;
	line-height: 13px;
	font-size: 13px;
	color: rgb(102, 102, 102);
	overflow: hidden;
	cursor: pointer;
}
.footer{
	display: block;
	height: 44px;
	width: 95.7333%;
	margin:0 auto;
	outline: none;
	border:none;
	left: 2.13335%;
	background:rgb(240, 239, 245);
	border:1px solid rgb(224, 224, 224);
	border-radius: 2px;
	font-size: 15px;
	color: rgb(153, 153, 153);
	cursor: pointer;
	margin-top: 20px;
	margin-bottom: 10px;
}
#movie_shadow{
	height: 100%;
	width: 100%;
	background:rgb(0,0,0);
	opacity: 0.4;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 9997;
}
#onShadow{
	height: 177px;
	width:320px;
	background:url(../images/tipsBrowser@2x.png?v2) no-repeat;
	background-size: 100% 100%!important;
	position: fixed;
	top: 50%;
	left: 50%;
	margin-left: -160px;
	margin-top: -88.5px;
	z-index: 9998;
}
#onShadow img{
	display: none;
	height: 100px;
	width: 100px;
	position: absolute;
	top: 77px;
	right: 15px;
}

/************************************************************************
 * 电影速递播放页
 *************************************************************************/
video{
	width: 100%;
	position: relative;
	background: #000;
}
#shadom{
	/*display: none;*/
	width: 100%;
	height: 240px;
	background:rgba(68, 68, 68, 0.70);
	position: absolute;
	top: 78px;
	z-index: 999;
}
#dysd{
	height: 114px;
	width: 288px;
	background: url(../images/lumovie@2x.png?v2) no-repeat;
	background-size: 100% 100%;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -57px;
	margin-left: -144px;
}
#wait_time{
	z-index: 9990;
	position: absolute;
	font-size: 15px;
	right:10px;
	color: #fff;
}
#wait_time span{
	font-size: 20px;
	font-weight: bold;
}
#statement{
	height: 100px;
	width: 100%;
	text-align: center;
	line-height: 100px;
	background:rgb(240,239,245);
	color: rgb(187,187,187);
	font-size: 12px;
}
.movie_recommend{
	width: 100%;
	height: 235px;
	background: #fff;
	margin-top: 10px;
	padding-top: 8px;
}
.movie_recommend .recommend{
	height: 20px;
	width: 95.7333%;
	margin:0 auto;
}
.movie_recommend .recommend #img{
	height: 20px;
	width:10px;
	background: rgb(153,153,153);
	float: left;
}
.movie_recommend .recommend #title{
	font-size: 15px;
	line-height: 20px;
	color: rgb(153,153,153);
	margin-left: 6px;
	float: left;
}
.movie_recommend .recommend a{
	width:64px; 
	height:30px;
	position: absolute;
	right: 2.5666666%;
	cursor: pointer;
}
.three_movie{
	width: 95.7333%;
	margin: 0 auto;
}
.title{
	height: 20px;
	background: #000;
	color: #fff;
	line-height: 20px;
	font-size: 20px;
	padding-top: 8px;
}
/*app-logo滑动样式*/
.app-recommend{
	height: 110px;
}
.swiper-container{
	width: 100%;
	height: 60px;
    padding-top: 12px;
    padding-left: 10px;	
}
.swiper-slide{
	width: 70px !important;
	height: 60px;
	background: rgb(216 216 216);
    /* Center slide text vertically */
}
.swiper-slide img{
	width: 60px;
	height: 60px;
	border-radius: 10px;
}
/**
 * 三张app图样式
 */
#three_movie img{
	height: 160px;
	width: 31.8435%;
	float: left;
	margin-top: 20px;
	margin-right: 2.2346%;
}
#three_movie img:nth-child(3){
	margin-right: 0;
}
#share_shadom{
	display: none;
	position: fixed;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	background: url(../images/selfdd.png?v2);
	background-size: 100% 100%;
	z-index: 9999;
}








