html {
    font-family:"Hiragino Sans GB", "Microsoft YaHei","WenQuanYi Micro Hei", sans-serif !important;
    width: 100%;
    height: 100%;
}

body {
    position: relative;
    overflow-y: scroll;
    width: 100%;
    height: auto !important;
    height: 100%;
    min-height: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    background: #f9f9f9;
}

th {
    font-weight: normal;
}

td .inner {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    -webkit-text-overflow: ellipsis;
}

* {
    margin: 0;
}
.fl{ float: left; }
.fr{ float: right; }

/*--------------------------------------------------------------------------------
    注册
--------------------------------------------------------------------------------*/

.btn-no-select {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.index-login-container,
.index-register-container,
.index-register-container .tips {
    display: none;
}

.index-register-container {
    position: relative;
}

.register-tab {
    position: absolute;
    top: 20px;
    right: -38px;
}

.register-tab ul > li {
    font-size: 14px;
    box-sizing: border-box;
    width: 35px;
    padding: 10px;
    list-style: none;
    cursor: pointer;
    -webkit-transition: all .8s;
    -o-transition: all .8s;
    transition: all .8s;
    text-align: center;
    word-break: break-all;
    border-radius: 0 4px 4px 0;
    background-color: #fff;
    background-color: rgb(204, 204, 204);
}

.register-tab ul > li a {
    text-decoration: none;
    color: #666;
}

.register-tab ul > li a:active {
    color: #666;
}

.register-tab ul > li a:focus {
    color: #666;
}

.register-tab ul > .active {
    width: 38px;
    padding: 10px;
    -webkit-animation: activeAnimation .4s;
    -moz-animation: activeAnimation .4s;
    -o-animation: activeAnimation .4s;
    animation: activeAnimation .4s;
    color: #fff;
    background-color: #666;
}

.register-tab ul > .active a {
    color: #fff;
}

.register-tab ul > .active a:active {
    color: #fff;
}

.register-tab ul > .active a:focus {
    color: #fff;
}

#customer-services-qr {
    height: 200px;
    width: 200px;
    padding: 20px 0;
}
#connection-des {
    font-size: 20px;
    font-weight: 300;
}
.text-center {
    text-align: center;
}

/**
 * Animation
 */

@keyframes activeAnimation {
    from {
        width: 35px;
        padding: 10px;
        color: #666;
        background-color: rgb(204, 204, 204);
    }
    to {
        width: 38px;
        padding: 10px;
        color: #fff;
        background-color: #666;
    }
}

@-moz-keyframes activeAnimation {
    from {
        width: 35px;
        padding: 10px;
        color: #666;
        background-color: rgb(204, 204, 204);
    }
    to {
        width: 38px;
        padding: 10px;
        color: #fff;
        background-color: #666666;
    }
}

@-webkit-keyframes activeAnimation {
    from {
        width: 35px;
        padding: 10px;
        color: #666;
        background-color: rgb(204, 204, 204);
    }
    to {
        width: 38px;
        padding: 10px;
        color: #fff;
        background-color: #5279CB;
    }
}

@-o-keyframes activeAnimation {
    from {
        width: 35px;
        padding: 10px;
        color: #666;
        background-color: rgb(204, 204, 204);
    }
    to {
        width: 38px;
        padding: 10px;
        color: #fff;
        background-color: #666;
    }
}


/*--------------------------------------------------------------------------------
    index首页
--------------------------------------------------------------------------------*/

.container {
    /*padding-bottom: 100px*/
}

.index-body .index-header {
    width: 100%;
    height: 82px;
    background-color: #fff;
    overflow: hidden;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .1);
}
.index-body .index-header .header-nav{
    width: 1170px;
    height: 82px;
    margin: 0px auto;
}
.index-body .index-header .header-nav #logo{
    width: 40px;
    height: 82px;
    float: left;
}
.index-body .index-header .header-nav #logo a{
    display: block;
    width: 40px;
    height: 82px;
    background: url(./../images/index-logo.png) center center no-repeat;
}
.hide-text {
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}

.index-header .index-right {
    display: flex;
    float: right;
    padding-right: 12.84%;
    justify-content: flex-end;
}

.index-header ul {
    height: 82px;
    float:right;
    padding: 0;
    list-style: none;
    text-align: left;
    overflow: hidden;
}

.index-header ul > li {
    height: 82px;
    line-height: 82px;
    display: inline-block;
    list-style: none;
}

.index-header ul li a {
    display: inline-block;
    height: 82px;
    font-size: 18px;
    text-decoration: none;
    letter-spacing: 1px;
    color: #666;
    margin: 0px 20px;
    position: relative;
}
.index-header ul li .index-tab-active::after{
    content: '';
    display: inline-block;
    width: 100%;
    height: 0px;
    position: absolute;
    left: 0px;
    top: 0px;
    border-top: 4px #6799ff solid;
}
.index-header .index-to-login-register {
    float: right;
    padding: 19px 0;
}

.index-header .index-to-login-register a {
    font-size: 18px;
    display: flex;
    float: left;
    width: 100px;
    height: 36px;
    margin: 0 auto;
    cursor: pointer;
    text-decoration: none;
    color: #999;
    justify-content: center;
    align-items: center;
}

.active-p {
    width: 100px;
    height: 36px;
    color: #fa6640 !important;
    border: solid 1px #fa6640;
    border-radius: 4px;
    background-color: #fff;
}
.login-footer{
    text-align: center;
    font-size: 12px;
    color: #ffffff;
    height: 20px;
    width: 100%;
    position: absolute;
    bottom: 0px;
}

/*index-footer*/
.index-footer{
    width:100%;
    height: 420px;
    background-color: #ffffff;
}
.index-footer p{
    margin: 0;
    font-size: 16px;
    line-height: 28px;
    color: #999;
}
.index-footer p a {
    color: #999;
    text-decoration: none;
}
.index-footer .about{
    position: relative;
    width: 1170px;
    margin: 0 auto;
    height: 406px;
}
.index-footer .about .contact{
    float: left;
    width: 450px;
    margin: 0 auto;
    margin-left: 107px;
    color:#666666;
}
.index-footer .about .connect{
    float: left;
    width: 375px;
}
.index-footer .about .subscribe{
    float: right;
    width: 187px;
}
.index-footer .about .subscribe img{
    display: block;
    margin: 0 auto;
    margin-top: 73px;
}
.index-footer .about .subscribe .sub-title{
    text-align: center;
    color: #679aff;
    font-family:"Hiragino Sans GB", "Microsoft YaHei","WenQuanYi Micro Hei", sans-serif !important;;
    padding-top: 5px;
}

.index-footer .copyright{
    border-top:1px solid #eaeaea;
    text-align: center;
    height: 60px;
    clear: both;
    color:#999999;
    font-size: 12px;
    padding-top: 40px;
    background-color: #ffffff;
}
.index-footer .contact .seperator{
    width: 250px;
    margin: 0 auto;
    border: 1px #f65a38 solid;
    margin-bottom: 20px;
}
.index-footer .connect .seperator{
    width:320px;
    margin:0 auto;
    border: 1px #f65a38 solid;
    margin-bottom: 20px;
}
.index-footer .subscribe .seperator{
    width:250px;
    margin:0 auto;
    border: 1px #f65a38 solid;
    margin-bottom: 20px;
}
.index-footer .title{
    margin-top: 85px;
    font-size: 18px;
    line-height: 20px;
    margin-bottom: 12px;
    font-family:"Hiragino Sans GB", "Microsoft YaHei","WenQuanYi Micro Hei", sans-serif !important;;
    color:#666666;
}
.index-footer .connect ul{
    overflow: hidden;
    padding: 0;
}
.index-footer .connect li{
    list-style:none;
    width:125px;
    float:left;
    line-height: 28px;
    overflow: hidden;
}
.index-footer .connect li a{
    text-decoration:none;
    color: #999;
    font-size: 16px;
}




/*home-page*/
.index-main-container {
    width: 100%;
    height:100%;
    margin:0 auto;
    background-color: #fff;
}

.swiper-banner {
    height: 673px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.index-main-container .index-container-perface{
    width:100%;
    background:url(./../images/banner.jpg) center center no-repeat;
    background-size:cover;
    height:673px;
    position:relative;
}

.index_banner_content{
    width: 843px;
    height: 283px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    background: url(./../images/index_bannercontent.png) 0px 0px no-repeat;
}
/*INTRODUCE*/
.index-main-container .index-introduce{
    position:relative;
    width: 1170px;
    height:575px;
    margin:0 auto;
    background-color: #fff;
}

.index-introduce .title{
    font-family:"Hiragino Sans GB", "Microsoft YaHei","WenQuanYi Micro Hei", sans-serif !important;;
    font-size: 24px;
    color:#666666;
    padding-top: 160px;
    padding-bottom: 27px;
}
.index-introduce .desc{
    display:block;
    width:430px;
    line-height: 33px;
    font-size: 18px;
    color:#666666;
}

.index-introduce .desc2{
    font-size: 18px;
    color:#666666;
    padding-bottom: 37px;
}

.index-introduce .inro-pic{
    position:absolute;
    top: 21px;
    right:0px;
}

.button-backstage{
    width:166px;
    text-align: center;
    display:inline-block;
    height:40px;
    border-radius: 20px;
    line-height:40px;
    cursor:pointer;
    border:1px #6799ff solid;
    font-size: 16px;
    color:#6799ff;
}

.button-backstage:hover{
    color:#fff;
    background-color:#6799ff;
}

/*USE SENCE*/

.index-scenes{
    position: relative;
    width: 100%;
    min-width: 1100px;
    background-color: #f4f4f4;
    padding-bottom: 50px;
}

.index-scenes .scene-title{
    height:160px;
    width:100%;
    text-align: center;
    line-height: 160px;
    font-size: 24px;
    color:#666666;
    font-family:"Hiragino Sans GB", "Microsoft YaHei","WenQuanYi Micro Hei", sans-serif !important;;
}

.index-scenes>.scene-box{
    height: 318px;
    width: 1170px;
    margin: 0 auto;
    padding: 56px 0;
    clear: both;
    border-bottom: rgb(204,204,204) 1px solid;
}
.index-scenes>.scene-box:last-child{
    border-bottom: 0;
}
.index-scenes>.scene-box>.scene-img{
    width: 510px;
    height: 318px;
}
.index-scenes>.scene-box>.scene-img>img{
    height: 100%;
}
.index-scenes>.scene-box>.scene-content{
    height: 318px;
    width: 558px;
    font-size: 18px !important;
}
.index-scenes>.scene-box>.scene-content>.title{
    font-family:"Hiragino Sans GB", "Microsoft YaHei","WenQuanYi Micro Hei", sans-serif !important;;
    color: #6799ff;
}
.index-scenes>.scene-box>.scene-content>.movie{
    margin-bottom: 15px;
    margin-top: 19px;
}
.index-scenes>.scene-box>.scene-content>.shopping{
    margin-bottom: 15px;
    margin-top: 28px;
}
.index-scenes>.scene-box>.scene-content>.tv{
    margin-bottom: 15px;
    margin-top: 45px;
}
.index-scenes>.scene-box>.scene-content>.more{
    margin-bottom: 15px;
    margin-top: 45px;
}
.index-scenes>.scene-box>.scene-content>.keypoint{
    font-size: 20px;
    line-height: 32px;
    color: #666;
}
.index-scenes>.scene-box>.scene-content>.keypoint ul {
    margin-bottom: 15px;
    padding: 0px;
}
.index-scenes>.scene-box>.scene-content>.keypoint li {
    line-height: 33px;
    font-size: 18px;
    list-style: none;
    padding-left: 18px;
    position: relative;
}
.index-scenes>.scene-box>.scene-content>.keypoint li::after{
    content: '';
    width: 0px;
    height: 0px;
    border: 2px solid #666;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    position: absolute;
    top: 14.5px;
    left: 7px;
}
.index-scenes>.scene-box>.scene-content>.description{
    height:159px;
    font-size: 18px;
    line-height: 33px;
    color: #666;
    letter-spacing: .4px;
    border-top:  rgb(234,234,234) 1px solid;
    padding-top: 17px;
}

.home-multi-pic {
    width: 100%;
    height: 480px;
    background-color: #d8d8d8;
}

.home-service-list {
    display: flex;
    width: 100%;
    height: 340px;
    background-color: #fff;
    justify-content: center;
}

.home-service-list figure {
    margin: 0;
    padding-top: 80px;
    cursor: pointer;
}

.home-service-list .home-developer,
.home-service-list .home-adcraft {
    padding-left: 18%;
}

.home-service-list figure div {
    display: flex;
    width: 128px;
    height: 128px;
    border: solid 2px #eee;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
}

.home-service-list figure div img {
    width: 54px;
    height: 51px;
}

.home-service-list figure p {
    font-size: 16px;
    display: flex;
    width: 128px;
    margin: 0;
    padding: 0;
    padding-top: 15px;
    padding-bottom: 8px;
    letter-spacing: -.4px;
    color: #666;
    justify-content: center;
}

.home-service-list figure span {
    font-size: 18px;
    display: flex;
    height: 13px;
    letter-spacing: -.3px;
    color: #999;
    justify-content: center;
}

.home-page-introduce {
    height: 420px;
    margin: 0 185px;
    margin-bottom: 100px;
    background-color: #d8d8d8;
}


/*sdk下载*/

#index-sdk-download .sdk-download-title {
    height: 200px;
    margin: 30px 14.2%;
    background-color: #ccc;
}

.sdk-download-introduce .device {
    width: 100%;
    height: 109px;
}

#index-sdk-download .sdk-download-introduce {
    height: 522px;
    margin: 30px 14.2%;
    background-color: #fff;
}

#index-sdk-download .sdk-download-introduce .introduce-title {
    display: flex;
    padding-top: 30px;
    padding-left: 30px;
    align-items: center;
}

.sdk-download-introduce .min-line {
    height: 1px;
    margin: 13px 30px;
    background-color: #e0e0e0;
}

.dot {
    width: 6px;
    height: 6px;
    margin-right: 6px;
    border-radius: 50%;
    background-color: #fa6640;
}

.sdk-download-introduce .device-dwonload,
.sdk-download-introduce .ios-download {
    float: left;
    width: 50%;
}

.sdk-download-introduce .device-dwonload {
    box-sizing: border-box;
    padding: 30px;
}

.device-dwonload .device-download-title {
    display: flex;
    padding-bottom: 20px;
    align-items: center;
}

.device-dwonload .device-download-link {
    width: 360px;
    height: 79px;
    padding: 15px;
    border: solid 1px #eee;
    border-radius: 2px;
    background-color: #fbfbfb;
}

.device-download-link .download-contact {
    float: right;
    width: 100px;
    height: 33px;
    margin-top: -61px;
    cursor: pointer;
    border-radius: 4px;
}

.device-download-link .download-contact img {
    width: 17px;
    height: 19px;
    padding: 7px 7px 7px 10px;
    background-size: 17px 19px;
}

.device-download-link .download-contact span {
    line-height: 33px;
    position: absolute;
    float: left;
    color: #fff;
}

.device-download-link span {
    font-size: 14px;
    height: 17px;
    color: #333;
}

.device-download-link .device-version {
    font-size: 14px;
    display: -webkit-box;
    margin: 0;
    margin-right: 0;
    margin-left: 0;
    padding-bottom: 29.5px;
    letter-spacing: -.3px;
    color: #999;
}

.device-download-link .device-update-log {
    float: right;
    color: #333;
}

.device-download-link .device-update-log a {
    text-decoration: none;
    color: #fa6640;
}

.device-download-link .device-update-log a:active {
    color: #fa6640;
}

.device-download-link .device-update-log a:focus {
    color: #fa6640;
}


/*开发者角色介绍*/

.character-developer .character-developer-content {
    padding-top: 35px 14.2%;
}


/*--------------------------------------------------------------------------------
   登录注册
--------------------------------------------------------------------------------*/

#login-container {
    width: 480px;
    height: 643px;
    background-color: #6799ff;
    padding-top: 0px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}

#login-container .login-logo {
    margin: 0 auto;
    cursor: pointer;
    width: 62px;
    height: 62px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-image: url(./../images/login-logo.png);
}
#login-container .InLonglogin-logo {
    margin: 0 auto;
    cursor: pointer;
    width: 62px;
    height: 62px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-image: url(./../images/InLongLogo.png);
}
#login-container .loginRegister {
    margin-top: 20px;
}

#login-container .index-container .switch {
    height: 88px;
    text-align: center;
    box-shadow: 2px 4px 16px 0.00px rgba(103, 153, 255, 0.5);
    padding: 30px 0;
    box-sizing: border-box;
}

#login-container .index-container .switch div {
    font-size: 20px;
    color: #ccc;
    display: inline-block;
    width: 61px;
    height: 100%;
    margin: 0 15px;
    cursor: pointer;
}

#login-container .index-container .switch .active {
    color: #6799ff;
    border-bottom: 3px #6799ff solid;
}

.index-container .title {
    font-size: 18px;
    line-height: 79px;
    position: relative;
    height: 79px;
    text-align: center;
    box-shadow: 2px 4px 16px 0.00px rgba(103, 153, 255, 0.5);
    color: #6799ff;
    font-size: 20px;
    font-weight: bold;
}

#login-container .index-container {
    position: relative;
    width: 480px;
    margin: 0 auto 40px auto;
    border-radius: 20px;
    background-color: #fff;
}

.index-container .content {
    padding-bottom: 45px;
}

.index-form-input,
.index-form-radio {
    position: relative;
    text-align: center;
}

.index-form-input > input {
    font-size: 16px;
    width: 318px;
    height: 42px;
    padding: 0 20px;
    border: none;
    border-bottom: 1px #e9e9e9 solid;
    outline: none;
}
.index-form-input > input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
    border-top: 1px solid #fff!important;
    background-color: #fff!important;
}
.index-form-radio {
    font-size: 15px;
    display: flex;
    width: 100%;
    height: 42px;
    margin-top: 20px;
    align-items: center;
    justify-content: center;
}

.index-form-radio > input {
    width: 20px;
    border: 1px #e0e0e0 solid;
    border-radius: 4px;
    outline: none;
    background-color: #f6f6f6;
}

.index-form-radio > label:first-of-type {
    padding-right: 10%;
}

#index-error,
#reg-error,
#find-error-1,
#find-error-2 {
    font-size: 15px;
    opacity: 0;
    margin: 15px auto 0;
    text-align: left;
    width: 358px;
    color: red;
}

#login-phone {
    margin-top: 60px;
}

#login-password {
    margin-top: 20px;
}

#register-phone {
    margin-top: 60px;
}

#register-realname {
    margin-top: 20px;
}

#register-password {
    margin-top: 20px;
}

.register-verfication {
    margin-top: 20px;
}
#register-serial{
    margin-top: 20px;
}


.index-form-forget {
    font-size: 15px;
    width: 20%;
    min-width: 96px;
    text-align: center;
    margin: 15px auto 0;
    cursor: pointer;
    color: #ccc;
}

.index-form-submit {
    font-size: 15px;
    width: 105px;
    height: 36px;
    line-height: 36px;
    color: #6799ff;
    margin: 11px auto 0;
    cursor: pointer;
    text-align: center;
    border-radius: 4px;
    border-width: 1px;
    border-color: #6799ff;
    border-style: solid;
}

.index-form-submit-on-progress {
    border: none;
    background-color: #ccc;
    color: #fff;
}

#register-button {
    margin-top: 20px;
}

.verify-code-button {
    font-size: 14px;
    position: absolute;
    top: 26px;
    right: 70px;
    height: 30px;
    cursor: pointer;
    color: #999;
    border: none;
    border-radius: 2px;
    background-color: #e9e9e9;
    outline: none;
}

.index-find-password-container {
    display: none;
}

.index-find-password-container .step2,
.index-find-password-container .tips {
    display: none;
}

#find-phone {
    margin-top: 60px;
}

#find-verfication {
    margin-top: 20px;
}

#find-step1-button,
#find-step2-button {
    margin-top: 20px;
}

#find-password {
    margin-top: 60px;
}

#find-confirm-password {
    margin-top: 20px;
}

.index-container .tips .content-main {
    font-size: 24px;
    margin-top: 60px;
    text-align: center;
    color: #333;
}

.index-container .tips .content-subtitle {
    font-size: 15px;
    margin-top: 10px;
    text-align: center;
    color: #ccc;
}

.close-button {
    position: absolute;
    top: 15px;
    right: 20px;
    width: 20px;
    height: 20px;
    cursor: pointer;
    background-image: url(../images/btn-close.png);
    background-repeat: no-repeat;
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
}


/*--------------------------------------------------------------------------------
    用户后台管理页
--------------------------------------------------------------------------------*/

.supporter_left_navigation {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    float: left;
    width: 230px;
    min-width: 209px;
    max-width: 235px;
    height: 1400;
    background: #555;
}

.supporter_st {
    display: flex;
    width: 100%;
    height: 136px;
    cursor: pointer;
    justify-content: center;
    align-items: center;
}

.supporter_st span {
    font-size: 20px;
    line-height: 20px;
    padding-left: 12px;
    letter-spacing: -.5px;
    color: #fff;
    background-color: #555;
}

.supporter_backstage_mian {
    display: flex;
    height: 44px;
    padding-left: 30px;
    cursor: pointer;
    align-items: center;
}

.supporter_backstage_mian span {
    font-size: 14px;
    width: 55px;
    height: 14px;
    padding-left: 12px;
    letter-spacing: -.3px;
    color: #fff;
}

.supporter_backstage_mian img {
    width: 16px;
    height: 16px;
}

.supporter_nav_container {
    width: 100%;
    height: auto;
    text-align: left;
}

.supporter_nav_container .supporter_sections .nav_section {
    display: flex;
    height: 44px;
    padding-left: 30px;
    cursor: pointer;
    align-items: center;
}

.nav_section .updown-icon {
    float: right;
    width: 12px;
    height: 8px;
    background: url(../images/更多@2x.png)no-repeat;
    background-size: 100% 100%;
    /*    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);*/
}

.supporter_nav_container .supporter_sections img {
    width: 16px;
    height: 16px;
}

.supporter_nav_container .supporter_sections span {
    font-size: 14px;
    width: 55px;
    height: 14px;
    padding-right: 35%;
    padding-left: 12px;
    letter-spacing: -.3px;
    color: #fff;
}

.supporter_nav_container .supporter_sections ul {
    height: auto;
    margin: 0 auto;
    padding: 0;
}

.supporter_nav_container .supporter_sections ul li {
    font-size: 14px;
    line-height: 44px;
    height: 44px;
    padding-left: 80px;
    list-style: none;
    cursor: pointer;
    letter-spacing: -.3px;
    color: #999;
}

.supporter_mose_active {
    display: flex;
    height: 44px;
    padding-left: 30px;
    background: #4a4a4a;
    align-items: center;
}

.supporter_mose_active .updown-icon {
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

.supporter_content {
    right: 0;
    float: right;
    width: 100%;
    padding-left: 230px;
    box-sizing: border-box;
    margin-bottom: 100px;
    background: #f9f9f9;
}

.supporter_top_nav {
    z-index: 9999;
    right: 0;
    float: right;
    width: 100%;
    height: 40px;
    background: #fff;
}

.supporter_top_nav .supporter_userid {
    font-size: 14px;
    line-height: 40px;
    float: right;
    padding-right: 39px;
    color: #999;
}

.supporter_top_nav .supporter_quit {
    font-size: 14px;
    line-height: 40px;
    float: right;
    padding-right: 30px;
    cursor: pointer;
    color: #999;
}

.supporter_content .supcontent_container {
    height: auto;
    margin-top: 40px;
    padding: 30px;
}

.supporter_addnewapp {
    height: 70px;
    /*margin: 30px 30px 10px 30px;
    border-bottom: 1px #e0e0e0 solid;*/
}

.supporter_addnewapp .supporter_alloption {
    float: left;
    width: 100px;
    height: 30px;
    cursor: pointer;
    border: solid 1px #ccc;
    border-radius: 4px;
    outline: none;
    background-color: #fff;
    /*padding: 8px 45px;*/
}

.addApp {
    font-size: .8em;
    line-height: 30px;
    /* float: right; */
    position: absolute;
    z-index: 99;
    top: 50px;
    right: 30px;
    width: 100px;
    height: 30px;
    text-align: center;
    text-decoration: none;
    color: #fff;
    border-radius: 2px;
    background-color: #fa6640;
}

.white-pink {
    /*font-size: 12px;
    max-width: 500px;
    margin-right: auto;
    margin-left: auto;
    padding: 30px 30px 20px 30px;
    color: #666;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #fff;
    -webkit-box-shadow: rgba(187, 187, 187, 1) 0 0 20px -1px;
    box-shadow: rgba(187, 187, 187, 1) 0 0 20px -1px;*/
}

.white-pink h1 {
    font-size: 24px;
    display: block;
    margin: -10px -30px 10px -30px;
    padding: 0 0 10px 40px;
    color: #969696;
    border-bottom: 1px solid #f5f5f5;
}

.white-pink h1 > span {
    font-size: 11px;
    display: block;
    color: #c4c2c2;
}

.white-pink label {
    display: block;
    width: 50%;
    margin: 0 0 5px;
}

.white-pink label > span {
    font-size: .8em;
    line-height: 34px;
    float: left;
    width: 30%;
    margin-right: 20px;
    /*margin-top: 10px;*/
    /*padding-right: 10px;*/
    text-align: right;
    color: #666;
}

.white-pink input[type='text'],
.white-pink input[type='file'],
.white-pink input[type='password'],
.white-pink input[type='email'],
.white-pink textarea,
.white-pink select {
    line-height: 15px;
    width: 60%;
    height: 25px;
    margin-top: 2px;
    margin-right: 6px;
    margin-bottom: 16px;
    padding: 3px 0 3px 5px;
    color: #555;
    border: 1px solid #e5e5e5;
    outline: 0;
    background: #fbfbfb;
    -webkit-box-shadow: inset 1px 1px 2px rgba(200, 200, 200, .2);
    box-shadow: inset 1px 1px 2px rgba(200, 200, 200, .2);
}

.white-pink textarea {
    width: 70%;
    height: 100px;
    padding: 5px 0 0 5px;
}

.white-pink .button {
    font-size: .8em;
    width: 100px;
    height: 30px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    color: #fff;
    border: none;
    border-radius: 2px;
    outline: none;
    background-color: #fa6640;
}


/*.white-pink .button:hover {
    background: -webkit-gradient( linear, left top, left bottom, color-stop(.05, #ef027d), color-stop(1, #fa6640));
    background: -moz-linear-gradient( center top, #ef027d 5%, #fa6640 100%);
    background-color: #ef027d;
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#ef027d', endColorstr='#fa6640');
}*/

.white-pink .button:active {
    position: relative;
    top: 1px;
}

.white-pink select {
    line-height: 15px;
    width: 30%;
    height: 30px;
    text-indent: .01px;
}

.addApp-warning,
.editApp-warning {
    font-size: 15px;
    display: none;
    /*text-align: center;*/
    margin-bottom: 20px;
    color: #fa6640;
}

#appAll .mod_ta_body,
.table-container {
    margin-top: 40px;
    background-color: #fff;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, .1);
}

.view_allapp {
    /*border-bottom: 1px solid #C1C8D2;*/
    table-layout: fixed;
}

.view_allapp thead {
    background-color: #f9f9f9;
}

.view_allapp thead th {
    font-size: 12.5px;
    line-height: 13px;
    height: 35px;
    color: #999;
}

.view_allapp td {
    font-size: .8em;
    overflow-x: hidden;
    height: 40px;
    padding: 0 1%;
    text-align: center;
    border-top: 1px solid rgba(0, 0, 0, .1);
    /*border-left: 1px #999 solid;*/
}

.view_allapp tbody tr {
    cursor: pointer;
}

.view_allapp tbody tr:hover {
    background-color: #e5f1f4;
}

.view_allapp .table_control a {
    padding: 4px;
    text-decoration: none;
    color: #fa6640;
}

.view_allapp .table_control a:active,
.view_allapp .table_control a:focus {
    color: #fa6640;
}

#user_gps .title {
    font-size: 20px;
    padding-bottom: 10px;
    padding-left: 42px;
    text-align: left;
    color: #666;
    border-bottom: 1px solid #e0e0e0;
}

.viewappAll .title,
#appNew .title,
#appEdit .title,
.viewappCurrent .title {
    font-size: 20px;
    padding-bottom: 10px;
    text-align: left;
    color: #666;
    border-bottom: 1px solid #e0e0e0;
}

#appCurrent .subtitle,
#appNew .subtitle,
#appEdit .subtitle {
    font-size: 16px;
    width: 20%;
    margin: 20px 0 20px 20px;
    padding-bottom: 10px;
    text-align: left;
    color: #666;
    border-bottom: 1px solid #e0e0e0;
}

.backward {
    font-size: .8em;
    line-height: 11px;
    position: absolute;
    z-index: 99;
    top: 50px;
    text-decoration: none;
    color: #fff;
    border-radius: 2px;
}

.backward div {
    margin-top: 25px;
    margin-bottom: 15px;
    padding-left: 13px;
    border-width: 9px;
    border-style: dashed solid dashed dashed;
    border-color: transparent #ccc transparent transparent;
    border-left: none;
}

#appCurrent .info {
    margin: 30px 0 30px 40px;
}

#appCurrent .info .info-item {
    width: 85%;
    margin: 2% 0;
    text-align: left;
    color: #666;
}

#appCurrent .info .info-item > div {
    display: inline-block;
}

#appCurrent .info .info-item #app-price input[type='radio'] {
    margin-left: 15px;
    border: none;
    outline: none;
}

#appCurrent .info .info-item #app-price input[type='radio'] + label {
    margin-left: 5px;
}

#appCurrent .info .info-item #test-push {
    font-size: .8em;
    line-height: 30px;
    width: 100px;
    height: 30px;
    cursor: pointer;
    text-align: center;
    color: #fff;
    border: none;
    border-radius: 2px;
    outline: none;
    background-color: #fa6640;
}

#appCurrent .info .info-item #test-push + input {
    line-height: 23px;
    float: right;
    width: 30%;
    height: 23px;
    margin-right: 6px;
    padding: 3px 0 3px 5px;
    color: #555;
    border: 1px solid #e5e5e5;
    outline: 0;
    background: #fbfbfb;
    -webkit-box-shadow: inset 1px 1px 2px rgba(200, 200, 200, .2);
    box-shadow: inset 1px 1px 2px rgba(200, 200, 200, .2);
}

#appCurrent .info .name {
    font-size: 1.2em;
}

#appCurrent .info .value {
    font-size: 1.4em;
    float: right;
    overflow: hidden;
    width: 77%;
    text-align: right;
    white-space: nowrap;
    text-overflow: ellipsis;
}

#appCurrent .info #app-appkey,
#appCurrent .info #app-appsecret {
    color: #fa6640;
}


/*查看单个app信息*/

.viewappCurrent {
    font-size: 12px;
    margin-bottom: 15px;
    text-align: center;
    /*padding-left: 15px;*/
}

.viewappCurrent .appinfo_title {
    font-size: 13px;
    line-height: 36px;
    height: 36px;
    margin-top: 30px;
    padding-left: 30px;
    text-align: left;
    letter-spacing: -.3px;
    color: #999;
    background-color: #fff;
}

.viewappCurrent h4 {
    font-size: 22px;
    line-height: 1.3;
    height: 28px;
    letter-spacing: -.5px;
    color: #333;
}

.viewappCurrent .app_data {
    float: left;
    width: 100%;
    height: 119px;
    margin-bottom: 30px;
    padding-top: 45px;
    background-color: #fff;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, .1);
}

.app_data .digest_data {
    font-size: 30px;
    line-height: 30px;
    padding-top: 25px;
    letter-spacing: -.7px;
    color: #fa6640;
}

.viewappCurrent .app_data .digest_block {
    display: block;
    float: left;
    width: 25%;
    height: 119px;
}

.viewappCurrent .app_data .main-title {
    font-size: 22px;
    color: #333;
}

.view_thisapp,
.view_users {
    background-color: #fff;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, .1);
    /*margin-bottom: 30px;*/
}

.view_gps thead,
.view_users thead,
.view_thisapp thead {
    height: 34.7px;
    background-color: #f9f9f9;
}

.view_gps thead th,
.view_users thead th,
.view_thisapp thead th {
    font-size: 12.5px;
    line-height: 13px;
    height: 34.7px;
    letter-spacing: -.3px;
    color: #999;
}

.view_gps tbody td,
.view_users tbody td,
.view_thisapp tbody td {
    height: 40px;
}

.view_users .user_control a {
    text-decoration: none;
    color: #fa6640;
}

.admin_footer {
    line-height: 100px;
    position: fixed;
    z-index: -1;
    right: 0;
    bottom: 0;
    box-sizing: border-box;
    width: 100%;
    height: 100px;
    padding-left: 230px;
    text-align: center;
    background-color: #666;
}

.admin_footer p {
    font-size: 13px;
    color: #ccc;
}

.view_gps tr {
    font-size: 12px;
    text-align: center;
}


/*table_footer*/

.page_btn {
    height: 50px;
    padding-top: 20px;
    text-align: center;
}

.page_btn .page_box .prev,
.page_btn .page_box .next {
    display: inline-block;
    width: 0;
    margin-right: 4px;
    border: 6px solid transparent;
    background-color: white;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, .1);
}

.page_btn .page_box .prev {
    border-right: 10px solid #ccc;
}

.page_btn .page_box .next {
    border-left: 10px solid #ccc;
}

.page_btn .page_box a {
    font-size: 13px;
    cursor: pointer;
}

.page_btn .page_box a:hover {
    text-decoration: underline;
}


/*个人中心*/


/*基本信息设置*/

#basic_info_set_start,
#change_password p {
    font-size: 20px;
    padding-bottom: 10px;
    text-align: left;
    color: #666;
    border-bottom: 1px solid #e0e0e0;
}

.basic_info_setting,
.change_passwording {
    position: relative;
    padding-bottom: 40px;
}

.input_basic_info p {
    display: inline;
    margin-left: 15px;
}

.input_basic_info label,
.change_passwording label {
    font-size: 13px;
    font-size: .8em;
    line-height: 34px;
    display: inline-block;
    width: 100px;
    height: 36px;
    margin: 20px 20px 0;
    text-align: right;
    letter-spacing: -.3px;
    color: #666;
}

.input_basic_info input,
.change_passwording input {
    line-height: 15px;
    width: 30%;
    height: 25px;
    margin-top: 2px;
    margin-right: 6px;
    margin-bottom: 16px;
    padding: 3px 0 3px 5px;
    color: #555;
    border: 1px solid #e5e5e5;
    outline: 0;
    background: #fbfbfb;
    -webkit-box-shadow: inset 1px 1px 2px rgba(200, 200, 200, .2);
    box-shadow: inset 1px 1px 2px rgba(200, 200, 200, .2);
}

.info_warning {
    position: absolute;
    top: 40px;
    right: 0;
    width: 220px;
    padding: 20px;
    border: 1px solid #eee;
    background: #fff;
}

.info_warning p {
    font-size: 14px;
    width: 70px;
    height: 17px;
    letter-spacing: -.3px;
    color: #333;
}

.info_warning ul {
    font-size: 12px;
    line-height: 16px;
    padding: 0;
    list-style: none;
    letter-spacing: -.3px;
    color: #999;
}

.info_warning ul li {
    margin-top: 10px;
}

.enter_save {
    font-size: .8em;
    width: 100px;
    height: 30px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    color: #fff;
    border: none;
    border-radius: 2px;
    outline: none;
    background-color: #fa6640;
}

.dateSelectStatistics .selectDate {
    float: left;
}

.dateSelectStatistics .selectDate .submitTime {
    font-size: .8em;
    line-height: 30px;
    width: 100px;
    height: 30px;
    cursor: pointer;
    text-align: center;
    color: #fff;
    border: none;
    border-radius: 2px;
    outline: none;
    background-color: #fa6640;
    float: right;
}

#providerChart {
    width: 500px;
    height: 500px;
}

/*404*/
.notFound{
    text-align: center;
    margin-top: 186px;
    margin-bottom: 100px;
}
.notFound p{
    margin-top: 69px;
    font-size: 16px;
    color:#999999;
}

.index-about {
    background: #f4f4f4;
}
.about-content {
    width: 1000px;
    margin: 0 auto;
    padding: 50px 0;
    text-align: justify;
    color: #666666;
}
.about-content>.about-img {
    width: 800px;
    margin: 20px auto;
}
.about-content>.about-img>img {
    width: 100%;
}
.about-content>p {
    text-indent: 2em;
    font-size: 20px;
    line-height: 1.8;
}
