* {
	margin: 0;
	padding: 0;
}

html {
    font-family:'Hiragino Sans GB','冬青黑体','Helvetica Neue', Helvetica, '微软雅黑', Arial, sans-serif;
    width: 100%;
    height: 100%;
}

body {
    position: relative;
    width: 100%;
    height: auto !important;
    height: 100%;
    min-height: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    background: #f9f9f9;
}

.upper-container {
	width: 100%;
    display: flex;
}

.user-info,
.upper-container video{
    flex: 1;
}

.user-info {
    overflow: hidden;
}

.user-info .user-info-list {
    position: relative;
}

.user-info .user-info-list p.mac-addr {
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 5px 20px;
    font-size: 1.2em;
    color: #bbb;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
}

.user-info .user-info-list p.scan {
    color: #bbb;
    position: fixed;
    top: 5px;
    font-size: 1.2em;
    right: 20px;
}

.user-info .user-info-list p.mac-addr::before {
    content: "[new!]";
    margin-right: 10px;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
    color: #bbb;
}

.user-info .user-info-list p.mac-addr::after {
    content: "[more details]";
    margin-left: 10px;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
    color: #bbb;
}

.user-info .user-info-list p.active::before {
    color: #a10000;
}

.user-info .user-info-list p.active {
    color: #000;
}

.lower-container {
    width: 50%;
    height: 100px;
    background-color: #000;
}

.lower-container img {
    height: 100px;
    width: 33.33333%;
    float: left;
    border: none;
    -webkit-transition: opacity 0.2s;
    -o-transition: opacity 0.2s;
    transition: opacity 0.2s;
}

#index-video {
	width: 50%;
	background-color: #000;
}

.show-user-data {

}

.donut_group {
    width: 100%;
    height: auto;
    padding-top: 50px;
}

.donut_group .column {
    width: 100%;
    display: inline-block;
    /*float:left;*/
}

.column .pie_style {
    width: 33%;
}

.column #providerChart,
.column #networkChart,
.column #systemChart,
.column #sexChart,
.column #ageChart,
.column #hobbyChart,
.column #incomeChart,
.column #shopChart,
.column #marryChart{
    float: left;
    height: 189px;
    text-align: center;
    margin-bottom: 90px;
}

/*--------------------------------------------------------------------------------
    Dialog
--------------------------------------------------------------------------------*/

.dialog,
.dialog__overlay {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.dialog {
    position: fixed;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    pointer-events: none;
    z-index: 4;
}

.dialog__overlay {
    position: absolute;
    z-index: 3;
    background: rgba(0, 0, 0, 0.66);
    opacity: 0;
    -webkit-transition: opacity 0.3s;
    transition: opacity 0.3s;
    -webkit-backface-visibility: hidden;
}

.dialog--open .dialog__overlay {
    opacity: 1;
    pointer-events: auto;
}

.dialog__content {
    background: #fff;
    border-radius: 4px;
    padding: 20px 25px 20px;
    box-sizing: border-box;
    text-align: left;
    position: relative;
    z-index: 5;
    opacity: 0;
}

.dialog--open .dialog__content {
    pointer-events: auto;
}

#trigger-btn {
    opacity: 0;
}

.dialog .notice .item {
    text-align: left;
}

.dialog .notice .item .name,
.dialog .notice .item .value {
    display: inline-block;
    font-size: 1.1em;
}

.dialog .notice .item .value {
    float: right;
}

.dialog #main {
    text-align: center;
    position: relative;
    border: 1px solid rgb(204, 204, 204);
    width: 40%;
}

.dialog .notice {
    text-align: center;
    margin-top: 28px;
    color: #999;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    height: 200px;
    overflow: auto;
    padding: 0 5px;
}

.dialog .notice > p:first-of-type::before {
    content: "\f071";
    font-family: FontAwesome;
    margin-right: 5px;
}

.dialog .main-title {
    text-align: center;
    color: #6799ff;
    font-size: 24px;
    line-height: 36px;
    margin: 0 auto;
}

.dialog .close-btn {
    width: 30px;
    height: 30px;
    right: -32px;
    top: -32px;
    background-image: url(./../images/close-btn.png);
}

.dialog .close-btn {
    position: absolute;
    z-index: 7;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    cursor: pointer;
}

.dialog .content {
    margin: 35px 0 20px 0;
    width: 100%;
    text-align: left;
    height: 300px;
    overflow: scroll;
    overflow-x: hidden;
    padding: 10px 0;
}

.dialog .notice::-webkit-scrollbar {
    width: 6px;
}

.dialog .notice::-webkit-scrollbar-button {
    display: none;
}

.dialog .notice::-webkit-scrollbar-thumb {
    background-color: #6799ff;
    /* Matches the background color of content-wrapper */
    border-radius: 5px;
}

.dialog .notice::-webkit-scrollbar-thumb:hover {
    background-color: #547fd7;
}

.dialog .content .transition-pad {
    width: 100%;
    height: 30px;
    position: fixed;
}
