extends layout

block content
	.weui-msg
		.weui-msg__icon-area
			i.weui-icon-success.weui-icon_msg
		.weui-msg__text-area
			h2.weui-msg__title
				| 认证成功
			p.weui-msg__desc
				| 您已经是 Vego TV 的正式会员，三秒后转跳到您先前浏览页面页面。
		p.weui-btn-area
			a.weui-btn.weui-btn_primary(href="#{url}")
				| 立即返回
prepend commonjs
	script.
			setTimeout(function(){location.href = '#{url}'}, 3 * 1000)
			// TODO send report to server 
// remove wechat
block wechat 	

