/*--------------------------------------------------------------------------------
    移动端 - 电影票价比 - 通用样式
--------------------------------------------------------------------------------*/
body,html{
	width: 100%;
	height: 100%;
	margin:0;
	padding:0;
}
*{
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(255,255,255,0);
}
.clear-fix:after {
    content: '\20';
    display: block;
    height: 0;
    clear: both;
}
/**
 * loading动画
 */
@-webkit-keyframes rotate{
    from{-webkit-transform:rotate(0deg)}
    to{-webkit-transform:rotate(360deg)}
}
@-moz-keyframes rotate{
    from{-moz-transform:rotate(0deg)}
    to{-moz-transform:rotate(360deg)}
}
@-ms-keyframes rotate{
    from{-ms-transform:rotate(0deg)}
    to{-ms-transform:rotate(360deg)}
}
@-o-keyframes rotate{
    from{-o-transform:rotate(0deg)}
    to{-o-transform:rotate(360deg)}
}
#uploadMore{
	height: 44px;
    width: 44px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -22px;
    margin-left: -22px;
    animation: 1s linear 0s normal none infinite rotate;
    -webkit-animation:1s linear 0s normal none infinite rotate;
    z-index:44444;
}
/*--------------------------------------------------------------------------------
   	首页
--------------------------------------------------------------------------------*/
.bg-box{
    position: relative;
    padding: 0;
    margin: 0;
    left: 0;
    right:0;
    width: 100%;
    height: auto;
}
.m-header{
	background-color: rgb(200,37,37);
	width:100%;
	height:44px;
	top: 0;
	left: 0;
	margin:0;
	position:fixed;
	padding:0;
	z-index: 2222;
}
.city{
	display：inline-block;
}
.specific-place{
	font-size: 16px;
	color:rgb(255,255,255);
	margin:0;
	margin-left:4%;
	line-height: 16px;
	padding-top: 14px;
	float:left;
}
.city img{
	float:left;
	margin-top: 10px;
}
.search-cinema img{
	margin-right:15px;
	margin-top: 10px;
	float:right;
}
/*旋转海报*/
.poster-list{
	width:100%;
	height:277px;
	left:0;
	right:0;
	margin:0;
	z-index: 222;
	padding:0;
}
.poster-list{
	margin:0;
	padding:0;
	height:321px;
}
.poster-list .index_device{
	position: relative;
	margin: auto;
	height:234px;
	width:100%;
	padding:0;
	padding-top: 20px;
	border-radius: 0px;
	z-index: 222;
}
.poster-list .index_device .swiper-container {
	width:100%;
	height: 208px;
}
.poster-list .index_device .swiper-slide {
	height:50%;
    opacity: 0.8;
	-webkit-transition: 300ms;
	-moz-transition: 300ms;
	-ms-transition: 300ms;
	-o-transition: 300ms;
	transition: 300ms;
	-webkit-transform: scale(0);
	-moz-transform: scale(0);
	-ms-transform: scale(0);
	-o-transform: scale(0);
	transform: scale(0);
}
.poster-list .index_device .swiper-slide-visible {
	opacity: 0.9;
	-webkit-transform: scale(0.8);
	-moz-transform: scale(0.8);
	-ms-transform: scale(0.8);
	-o-transform: scale(0.8);
	transform: scale(0.8)
}
.poster-list .index_device .swiper-slide-visible img{
	clear:both;
	display:block;
	margin:auto;
}
.poster-list .index_device .swiper-slide-active {
	top: 0;
	opacity: 1;
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	-o-transform: scale(1);
	transform: scale(1);
}
.poster-list .index_device .swiper-slide-active img{
	clear:both;
	display:block;
	margin:auto;
}
.swiper-visible-switch {
  opacity: 1;
  top: 0;
}
/*.blur{
	-webkit-filter: blur(50px);
	filter:blur(50px);
	-moz-filter: blur(50px);
	-ms-filter: blur(50px);
	-o-transfrom:blur(50px);
}*/
/*高斯模糊效果*/
.poster-list .bg-blur-overlay {
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&amp;0.15+0,1+100 */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjE1Ii8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  rgba(0,0,0,0.15) 0%, rgba(0,0,0,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.15)), color-stop(100%,rgba(0,0,0,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(0,0,0,0.15) 0%,rgba(0,0,0,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(0,0,0,0.15) 0%,rgba(0,0,0,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(0,0,0,0.15) 0%,rgba(0,0,0,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(0,0,0,0.15) 0%,rgba(0,0,0,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#26000000', endColorstr='#000000',GradientType=0 ); /* IE6-8 */
}


.poster-list .avatar-holder {
    overflow: hidden;
    height: 330px;
    text-align: center;
    position: relative;
}

.poster-list .avatar-container {
    padding-top: 44px;
}

.poster-list .avatar {
    display: inline-block;
    position: relative;
    width:100%;
    height:208px;
}

.poster-list .avatar img {
    height: 208px;
    transition: 0.3s;
    cursor: pointer;
}
.poster-list .avatar-blur {
    z-index: -2;
    position: absolute;
    min-height: 100%;
    height: auto;
    display: block;
    top: 0;
    max-height: none;
    /* Add this CSS to remove transparent border around the image */
    left: -10%;
    width: 120%;
    height: 227px;
}

/*高斯模糊效果插件*/

.shadow-masage{
	width:100%;
	height:44px;
	position:relative;
	margin:0 auto;
	background-color: rgba(0,0,0,0.5);
	text-align: center;
	overflow:hidden;
	bottom:0;
	z-index: 333;
}
.shadow-masage .movie-title{
	padding-top: 6px;
	font-size: 14px;
	color:rgb(255,255,255);
}
.shadow-masage .star{
	margin:0 auto;
	margin-top: 4px;
	background:url(../images/Group.png)no-repeat;
	background-position: 0 -14px;
	height:14px;
	width:90px;
}

.cinema-content{
	margin-top: 14px;
	width:100%;
	height:auto;
	background-color:#ffffff;
	margin-bottom: 44px;
}
.cinema-content p{
	font-size:14px;
	color:rgb(200,37,37);
	line-height: 14px;
	padding-left: 15px;
	padding: 15px;
}
.mid-line{
	position:absolute;
	width:100%;
	height:14px;
	background-color: rgb(235,235,235);
}
.theater{
	width:100%;
	height:62px;
	/*background-color: #eee;*/
	vertical-align:middle;
	text-decoration: none;
	list-style-type:none;
}
.check{
	background:url(../images/为选中@2x.png) no-repeat;
	background-size: 100% 100%;
	width:26px;
	height:26px;
	margin-left:20px;
	margin-top:18px;
	float:left;
	padding:0;
}
.theater .theater-messages{
	float:left;
	width:80%;
	margin-left: 16px;
	padding-top: 15px;
}
.theater .theater-title{
	font-size: 14px;
	color:rgb(77,77,77);
	margin:0;
	padding:0;
}
.theater .theater-place{
	width:auto;
	padding-top: 8px;
}
.theater-place .sepcific-place{
	font-size: 12px;
	height:15px;
	width:80%;
	text-overflow:ellipsis;
	overflow:hidden;
	white-space:nowrap;
	color:rgb(153,153,153);
	float:left;
}
.theater-place .distance{
	font-size: 12px;
	color:rgb(153,153,153);
	float:right;
	position:absolute;
	right:15px;
}
/*点击选中的影院*/
.checked-box{
	background:url(../images/选中@2x.png) no-repeat;
	background-size: 100% 100%;
	width:26px;
	height:26px;
	margin-left:20px;
	margin-top:18px;
	float:left;
	padding:0;
}
.checked{
	width:100%;
	height:62px;
	background-color: rgb(244,244,244);
	vertical-align:middle;
}
.Comparative-price{
	height: 44px;
	width: 100%;
	position: fixed;
	bottom: 0;
	z-index: 4;
	background: rgb(200,37,37);
	opacity: 0.9;
	color: #fff;
	font-size: 16px;
	outline: none;
	border: none;
}
.last_slide_img{
	width:150px;
	height:208px;
	clear: both;
	display: block;
	margin: auto;
	position: absolute;
	margin-top: -210px;
	left: 50%;
	margin-left: -75px;
}
/*--------------------------------------------------------------------------------
   	详情页
--------------------------------------------------------------------------------*/
.header_movie{
	display: inline-block;
	height: 44px;
	width: 100%;
	background:rgb(200,37,37);
}
.header_movie span{
	display: block;
	height: 19px;
	line-height: 19px;
	font-size: 18px;
	color: #fff;
	margin-top: 13px;
	text-align: center;
}
.header_movie img{
	height: 24px;
	width: 24px;
	position: absolute;
	top: 10px;
}
.header_movie .goback_movie{
	left: 15px;
}
.header_movie .search_movie{
	right: 15px;
}

#account_movie_cover{
	position: relative;
	height: 249.2px;
	width: 100%;
	background-size: 100% 100%;
}
/*#account_movie_cover .movie_background{
	height: 249.2px;
	width: 100%;
	position: absolute;
	z-index: 1;
	-webkit-filter: blur(10px);
    -moz-filter: blur(10px);
    -ms-filter: blur(10px);
    filter: blur(10px);
}*/
#account_movie_cover figure{
	height: 208px;
	width: 92%;
	margin-left:4%;
	margin-top: 20px;
	color: #fff;
	font-size: 12px;
	position: absolute;
	z-index: 2;
}
#account_movie_cover figure .film_cover{
	height: 208px;
	width: 43.47826%;
	float: left;
}
#account_movie_cover figure .movie_info{
	float: right;
	width: 51.304347826%;
}
#account_movie_cover figure .movie_info figcaption{
	display: inline-block;
	margin-top: 5px;
	font-size: 16px;
	letter-spacing:1px;
}
#account_movie_cover figure .movie_info figcaption ~ span{
	display: inline-block;
	margin-top: -5px;
	margin-left: 10px;
	padding-top: 4px;
	height: 18px;
	width: 56px;
	border-radius: 2px;
	background: rgb(75,160,200);
	font-size: 12px;
	vertical-align: middle;
	text-align: center;
}
#account_movie_cover figure .movie_info .icon_star{
	background:url(../images/Group.png) no-repeat;
	background-position: 0 -14px;
	height: 14px;
	width: 88px;
}
#account_movie_cover figure .movie_info .icon_star:after{
	content: '8.9';
	height: 17px;
	width: 29px;
	color: rgb(225,173,28);
	margin-left: 96px;
	font-size: 18px;
	line-height: 16px;
	letter-spacing: 1.1px;
	color: rgb(225,173,28);
}

#account_movie_cover figure .movie_info .movie_english_name,
#account_movie_cover figure .movie_info .icon_star,
#account_movie_cover figure .movie_info .movie_director,
#account_movie_cover figure .movie_info .movie_scriptwriter,
#account_movie_cover figure .movie_info .movie_starring,
#account_movie_cover figure .movie_info .movie_type,
#account_movie_cover figure .movie_info .movie_film_length,
#account_movie_cover figure .movie_info .movie_released{
	margin-top: 4px;
}
#account_movie_cover figure .movie_info .movie_director span,
#account_movie_cover figure .movie_info .movie_scriptwriter span,
#account_movie_cover figure .movie_info .movie_starring span,
#account_movie_cover figure .movie_info .movie_type span,
#account_movie_cover figure .movie_info .movie_film_length span,
#account_movie_cover figure .movie_info .movie_released span{
	margin-left: 5px;
}

#account_movie_cover .movie_film_icon{
	height: 44px;
	width: 90px;
	position: absolute;
	right: 2%;
	bottom: 10.2px;
	z-index: 3;
}
#account_movie_cover .movie_film_icon img{
	height: 44px;
	width: 45px;
	float: left;
}
.account_movie_story_box{
	width: 100%;
	margin-top: 16.8px;
	border-bottom: 1px solid rgb(235,235,235);
	z-index: 999;
}
.account_movie_story{
	width: 92%;
	margin:0 auto;
}
.account_movie_story .movie_story_intro{
	font-size: 14px;
	line-height: 14px;
	color: rgb(51,51,51);
}
.account_movie_story .movie_story_details{
	margin-top: 14px;
	text-indent: 20px;
	font-size: 14px;
	line-height: 22px;
	color: rgb(102,102,102);
	height: 110px;
	overflow: hidden;
	z-index: 99;
}
.account_movie_story_box .movie_story_details_more{
	height: 24px;
	width: 24px;
	display: block;
	margin:0 auto;
}
.account_movie_stills_box{
	width: 92%;
	margin: 0 auto;
	margin-top: 16px;
	padding-bottom: 44px;
}
.account_movie_stills_box .account_movie_stills{
	font-size: 14px;
	height: 14px;
	line-height: 14px;
	color: rgb(51,51,51);
	margin-bottom: 14px;
}
.account_movie_stills_box img{
	width: 100%;
}
.account_movie_buy_tickets{
	height: 44px;
	width: 100%;
	position: fixed;
	bottom: 0;
	z-index: 4;
	background:rgb(200,37,37);
	opacity: 0.9;
	color: #fff;
	font-size: 16px;
	outline: none;
	border:none;
}

#account_movie_cover .container {
  overflow: hidden;
  width: 100%;
  height: 249.2px;
  position: absolute;
}
#account_movie_cover .container .bg-blur-overlay {
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 249.2px;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSI0NiUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMC4wOCIvPjxzdG9wIG9mZnNldD0iNTklIiBzdG9wLWNvbG9yPSIjMDAwMDAwIiBzdG9wLW9wYWNpdHk9IjAuMDgiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMC45Ii8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(46%, rgba(0, 0, 0, 0.08)), color-stop(59%, rgba(0, 0, 0, 0.08)), color-stop(100%, rgba(0, 0, 0, 0.9)));
  background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0.08) 46%, rgba(0, 0, 0, 0.08) 59%, rgba(0, 0, 0, 0.9) 100%);
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.08) 46%, rgba(0, 0, 0, 0.08) 59%, rgba(0, 0, 0, 0.9) 100%);
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.08) 46%, rgba(0, 0, 0, 0.08) 59%, rgba(0, 0, 0, 0.9) 100%);
}
#account_movie_cover .container .bg-blur {
  z-index: -2;
  opacity: 1;
  position: absolute;
  width: 100%;
  height: 249.2px;
  display: block;
  top: 0;
  left: 0;
}
#account_movie_cover .container .content {
	z-index: 1;
	height: 249.2px;
}









/*--------------------------------------------------------------------------------
   	比价页
--------------------------------------------------------------------------------*/
.price_movie_date{
	height: 34px;
	width: 100%;
	background:rgb(242,242,242);
}
.price_movie_date li{
	height: 34px;
	width: 33.33333333333%;
	float: left;
	list-style: none;
	text-align: center;
	line-height: 34px;
	font-size: 13px;
	color: rgb(153,153,153);
}
.price_movie_date .movie_date_time{
	color: rgb(200,37,37);
	border-bottom: 3px solid rgb(200,37,37);
}
#tabBox1{
	margin-top: 35px!important;
}
#tabBox1 .tempWrap{
	height: 100%!important;
}
.price_movie_particulars{
	width: 100%;
	position: relative;
}
.price_movie_particulars .movie_praticulars_left,
.price_movie_particulars .movie_praticulars_right{
	width: 4%;
	height: 100%;
	position: absolute;
	top: 0;
	background:rgb(245,245,245);
	box-shadow: 0px 2px 4px rgba(139,121,121,.30);
}
.price_movie_particulars .movie_praticulars_left{
	left: 0;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
}
.price_movie_particulars .movie_praticulars_main{
	width: 81.3333333333%;
	margin:0 auto;
	background: rgb(245,245,245);
	box-shadow: 0px 2px 4px rgba(139,121,121,.30);
	border-radius: 10px;
	padding: 18px 0;
	margin-bottom: 60px;
}
.price_movie_particulars .movie_praticulars_right{
	right:0;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;

}
.price_movie_particulars .movie_praticulars_main .movie_praticulars_main_info{
	width: 88.196721311%;
	font-size: 12px;
	color: rgb(153,153,153);
	margin: 0 auto;
	padding-bottom: 11px;
}
.price_movie_particulars .movie_praticulars_main .movie_praticulars_main_info .movie_main_store_address,
.price_movie_particulars .movie_praticulars_main .movie_praticulars_main_info .movie_main_store_surplus{
	height: 12px;
	display: inline-block;
	margin-top: 8px;
}
.price_movie_particulars .movie_praticulars_main .movie_praticulars_main_info .movie_main_store_name{
	height: 16px;
	font-size: 16px;
	line-height: 16px;
	color: rgb(51,51,51);
}
.price_movie_particulars .movie_praticulars_main .movie_praticulars_main_info .movie_film_heat{
	margin-top: 10px;
	display: inline-block;
	height: 15px;
	width: 32px;
	color: #fff;
	font-size: 10px;
	background: rgb(200,37,37);
	outline: none;
	border:none;
	border-radius: 2px;
}
.price_movie_particulars .movie_praticulars_main .movie_praticulars_main_info .movie_film_heat_icon{
	width: 54px;
	height: 7px;
	display: inline-block;
	margin-left: 8px;
	background: url(../images/Group1.png) no-repeat;
	background-position: 0 -21px;
}
.price_movie_particulars .movie_praticulars_main .movie_praticulars_main_info .movie_film_base_price{
	font-size: 20px;
	color: rgb(200,37,37);
	float: right;
	margin-top: 10px;
}
.price_movie_particulars .movie_praticulars_main  .movie_film_cinema_screening{


}
.price_movie_particulars .movie_praticulars_main  .movie_film_cinema_screening .movie_film_cinema_box{
	width: 100%;
	background:rgb(245,245,245);
	border-top: 1px solid rgb(235,235,235);
	border-bottom: 1px solid rgb(235,235,235);
	color: rgb(153,153,153);
	font-size: 12px;
	z-index: 1000;
}
.price_movie_particulars .movie_praticulars_main  .movie_film_cinema_screening .movie_film_cinema_box ul,
.price_movie_particulars .movie_praticulars_main  .movie_film_cinema_screening .movie_film_cinema_box li{
	list-style: none;
}
.price_movie_particulars .movie_praticulars_main  .movie_film_cinema_screening .movie_film_cinema_ul{
	list-style: none;
	width: 88.196721311%;
	height: 68px;
	margin:0 auto;
}
.price_movie_particulars .movie_praticulars_main  .movie_film_cinema_screening .movie_film_cinema_ul li{
	height: 100%;
	width: 33.3333333333%;
	float: left;
	text-align: center;
}
.price_movie_particulars .movie_praticulars_main  .movie_film_cinema_screening .movie_film_cinema_ul li span{
	display: inline-block;
}
.price_movie_particulars .movie_praticulars_main ul .movie_film_cinema_ul_time{
	padding-top: 15px;
	text-align: left!important;
}
.price_movie_particulars .movie_praticulars_main ul .movie_film_cinema_ul_address{
	padding-top: 18px;
}
.price_movie_particulars .movie_praticulars_main ul .movie_film_cinema_ul_address .movie_film_language{
    height: 15px;
    line-height: 12px;
}
.price_movie_particulars .movie_praticulars_main ul .movie_film_cinema_ul_buy{
	padding-top: 17px;
	position: relative;
}
.price_movie_particulars .movie_praticulars_main ul .movie_film_cinema_ul_time .movie_film_stop_time{
	margin-top: 7px;
}
.price_movie_particulars .movie_praticulars_main ul .movie_film_cinema_ul_address .movie_film_hall{
    margin-top: 1px;
}
.price_movie_particulars .movie_praticulars_main ul .movie_film_cinema_ul_buy .movie_film_buy_channel{
	margin-top: 5px;
}
.price_movie_particulars .movie_praticulars_main ul .movie_film_cinema_ul_time .movie_film_start_time{
	font-size: 20px;
	color: rgb(51,51,51);
}
.price_movie_particulars .movie_praticulars_main ul .movie_film_cinema_ul_buy .movie_film_price{
	font-size: 18px;
	line-height: 16px;
}
.price_movie_particulars .movie_praticulars_main ul .movie_film_cinema_ul_buy img{
	position: absolute;
	height: 24px;
	width: 24px;
	top: 22px;
	right: 0;
}
.movie_film_cinema_screening .movie_film_cinema_box .movie_film_buy_channel_box{
	width: 100%;
	position: relative;
	border-top: 2px solid rgb(235,235,235);
	display: none;
}
.movie_film_cinema_screening .movie_film_cinema_box .movie_film_buy_channel_box input{
	height: 44px;
	width: 100%;
	line-height: 44px;
	z-index: 10;
	display: block!important;
	position:absolute;
	opacity: 0;
	-webkit-appearance:none;
}
.movie_film_cinema_screening .movie_film_cinema_box .movie_film_buy_channel_box ul,
.movie_film_cinema_screening .movie_film_cinema_box .movie_film_buy_channel_box input{
	width: 100%;
	height: 44px;
	line-height: 44px;
}
.movie_film_cinema_screening .movie_film_cinema_box .movie_film_buy_channel_box ul{
	border-bottom: 2px solid rgb(235,235,235);
	list-style: none;
}
.movie_film_cinema_screening .movie_film_cinema_box .movie_film_buy_channel_box ul li{
	width: 50%;
	height: 100%;
	float: left;
}
.movie_film_cinema_screening .movie_film_cinema_box .movie_film_buy_channel_name{
	padding-left: 5.901639%;
}
.movie_film_cinema_screening .movie_film_cinema_box .movie_film_buy_channel_price{
	text-align: right;
	padding-right: 5.901639%;
}
.movie_film_cinema_screening .movie_film_cinema_box .hidden_movie_buy_url{
	display: none;
}
.movie_film_cinema_screening .movie_film_cinema_box .movie_film_buy_channel_price span{
	font-size: 18px;
}
.movie_film_cinema_screening .movie_film_cinema_box .movie_film_buy_channel_price .movie_film_buy_channel_select{
	height: 18px;
	width: 18px;
	display: inline-block;
	background: url(../images/为选中@2x.png) no-repeat;
	background-size: 100% 100%;
	margin-left: 12px;
}

.movie_film_cinema_screening .movie_film_cinema_box .movie_film_buy_channel_box input:checked + ul{
	color: rgb(200,37,37);
}
.movie_film_cinema_screening .movie_film_cinema_box .movie_film_buy_channel_box input:checked + ul .movie_film_buy_channel_select{
	background: url(../images/选中@2x.png) no-repeat;
	background-size: 100% 100%;
}
.movie_film_buy_channel_box .m3{
	font-family: none!important;
}
.m3{
    text-decoration: inherit;
}
.m3>i{
    overflow:hidden;
    display:inline-block;
    font-style:normal;
    font-family:arial;
    text-decoration:inherit;
    vertical-align:top;
}
#noFilmInfo{
    position: absolute;
    width: 100%;
    height: 20px;
    line-height: 20px;
    font-size: 20px;
    color: #333;
    margin-top: -10px;
    top: 50%;
    text-align: center;
    display: none;
}



