extends ../layout

block content
	.loading-box
		.loading
			.rect1
			.rect2
			.rect3
			.rect4
			.rect5
	nav.recp
		ul
			li.nav-freeze.nav-first
			li.nav-updating
				.swiper-container
					.swiper-wrapper
	banner.recommend
	main
		content
		button.get-more(data-page='1')  更多
block scripts
	script
		:uglify
			$(document).ready(function() {
				mobile.init();
				mobile.recp();
			});
